@font-face {
  font-family: 'iconfont';  /* project id 1271075 */
  src: url('//at.alicdn.com/t/font_1271075_715gkefurn5.eot');
  src: url('//at.alicdn.com/t/font_1271075_715gkefurn5.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1271075_715gkefurn5.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1271075_715gkefurn5.woff') format('woff'),
  url('//at.alicdn.com/t/font_1271075_715gkefurn5.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1271075_715gkefurn5.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes loading{
	from {
    transform: rotate(0deg);
  }
	to {
    transform: rotate(360deg);
  }
}

.icon-guanyu:before {
  content: "\e608";
}

.icon-play2:before {
  content: "\e62a";
}

.icon-pinglun:before {
  content: "\e60f";
}

.icon-naozhong:before {
  content: "\e62e";
}

.icon-fenlei:before {
  content: "\e628";
}

.icon-gedan:before {
  content: "\e61d";
}

.icon-time:before {
  content: "\e6fd";
}

.icon-yejian:before {
  content: "\e650";
}

.icon-jiemudan:before {
  content: "\e61c";
}

.icon-mv:before {
  content: "\e640";
}

.icon-fenxiang:before {
  content: "\e6ac";
}

.icon-bofang:before {
  content: "\e696";
}

.icon-loading:before {
  content: "\e771";
}

.icon-info-circle:before {
  content: "\e77e";
}

.icon-play-circle:before {
  content: "\e781";
}

.icon-warning-circle:before {
  content: "\e785";
}

.icon-sync:before {
  content: "\e786";
}

.icon-reload:before {
  content: "\e788";
}

.icon-logout:before {
  content: "\e78c";
}

.icon-adduser:before {
  content: "\e7ae";
}

.icon-deleteteam:before {
  content: "\e7af";
}

.icon-deleteuser:before {
  content: "\e7b0";
}

.icon-addteam:before {
  content: "\e7b1";
}

.icon-user:before {
  content: "\e7b2";
}

.icon-team:before {
  content: "\e7b3";
}

.icon-delete:before {
  content: "\e7c3";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-unlike:before {
  content: "\e7c9";
}

.icon-folder-add:before {
  content: "\e7d1";
}

.icon-scan:before {
  content: "\e7d4";
}

.icon-cloud-download:before {
  content: "\e7d9";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-up:before {
  content: "\e7ed";
}

.icon-down:before {
  content: "\e7ee";
}

.icon-doubleleft:before {
  content: "\e7ef";
}

.icon-doubleright:before {
  content: "\e7f0";
}

.icon-arrowright:before {
  content: "\e7f1";
}

.icon-arrowup:before {
  content: "\e7f2";
}

.icon-arrowleft:before {
  content: "\e7f3";
}

.icon-arrowdown:before {
  content: "\e7f4";
}

.icon-line:before {
  content: "\e7fd";
}

.icon-minus:before {
  content: "\e7fe";
}

.icon-diantai:before {
  content: "\e600";
}

.icon-crown:before {
  content: "\e842";
}

.icon-fire:before {
  content: "\e843";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-paihangbang:before {
  content: "\e601";
}

.icon-suiji:before {
  content: "\e669";
}

.icon-zoomout:before {
  content: "\e897";
}

.icon-audio:before {
  content: "\e898";
}

.icon-audio-fill:before {
  content: "\e899";
}

.icon-shezhi:before {
  content: "\e605";
}

.icon-geshou:before {
  content: "\e79f";
}

.icon-liebiaoxunhuan:before {
  content: "\e665";
}

.icon-audiostatic:before {
  content: "\e8e8";
}

.icon-caret-down:before {
  content: "\e8ec";
}

.icon-caret-up:before {
  content: "\e8f4";
}

.icon-caret-right:before {
  content: "\e8f5";
}

.icon-caret-left:before {
  content: "\e8f6";
}

.icon-fast-backward:before {
  content: "\e8ed";
}

.icon-forward:before {
  content: "\e8ee";
}

.icon-fast-forward:before {
  content: "\e8ef";
}

.icon-search:before {
  content: "\e8f2";
}

.icon-login:before {
  content: "\e8f3";
}

.icon-step-backward:before {
  content: "\e8f0";
}

.icon-step-forward:before {
  content: "\e8f1";
}

.icon-hongdian1:before {
  content: "\e655";
}

.icon-Group:before {
  content: "\e641";
}

.icon-zanwushuju:before {
  content: "\e6bd";
}

.icon-play1:before {
  content: "\e734";
}

.icon-horn:before {
  content: "\eb96";
}

.icon-plus:before {
  content: "\e8fe";
}

.icon-hongdian2:before {
  content: "\e603";
}

.icon-hongdian3:before {
  content: "\e602";
}

.icon-eye-close:before {
  content: "\e8ff";
}

.icon-rili:before {
  content: "\e636";
}